nav {
  background-color: #4e4444;
  overflow: hidden;
}

nav > a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav > a:hover {
  background-color: #ddd;
  color: rgb(255, 0, 0);
}

.flexbox{
    display: flex;
    align-items: center ;
    justify-content: space-around;
    margin: 5%;
}
.block{
    display: block;
}


.image-box {
    width: 40vw;  
    height: auto;
}

img {
    transition: transform 0.2s ease;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgb(221, 146, 8);
}
