nav {
  background-color: #4e4444;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav > a:hover {
  background-color: #ddd;
  color: rgb(255, 0, 0);
}

.flexside{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.card {
  --card-bg: #ffe6f2;
  --card-border: #cc3366;
  --card-title: #b30047;

  background-color: var(--card-bg);
  border: 3px solid var(--card-border);
  border-radius: 15px;
  padding: 2rem 3rem;
  max-width: 95vw;
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  box-shadow: 0 5px 18px rgba(0,0,0,0.15);
}


.card-title {
  font-size: clamp(24px, 2.2vw, 34px);
  font-weight: 700;
  text-align: center;
  margin: 0;
  color: var(--card-title);
}


.card-title::after {
  display: inline-block;
  content: "";
  width: 80%;
  height: 3px;
  background-color: var(--card-border);
  margin-top: -0.5rem;
  border-radius: 2px;
}


.card img {
  width: 100%;
  max-width: 700px;
  border-radius: 12px;
  margin: 0 auto;
  display: block;
  flex: 0 0 45%;
}


.card-content {
  max-width: 720px;
  line-height: 1.6;
  font-size: clamp(15px, 1.2vw, 18px);
  text-align: justify;
  color: #3b2d2d;
  flex: 1;
}


footer{
  padding: 40px;
  gap: 30px;
  text-align: center;
  background-color: rgb(120, 96, 96);
  color: #ffe6f2;
}




