nav {
  background-color: #4e4444;
  overflow: hidden;
}

nav > a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav > a:hover {
  background-color: #ddd;
  color: rgb(255, 0, 0);
}