nav {
  background-color: #4e4444;
  overflow: hidden;
}

nav > a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav > a:hover {
  background-color: #ddd;
  color: rgb(255, 0, 0);
}

footer{
  padding: 40px;
  gap: 30px;
  text-align: center;
  background-color: rgb(120, 96, 96);
  color: #ffe6f2;
}