
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding:  0;
    font-family: Arial, sans-serif;
    background-color: #fafafa;
}

#nav-container {
    margin:  0 !important;
    padding: 0 !important;
    width: 100% !important;
}


nav {
    background-color: #4e4444 !important;
    overflow:  hidden;
    display: flex ! important;
    justify-content:  center !important;
    align-items: center !important;
    margin: 0 !important;
    padding: 0 ! important;
    width: 100% !important;
    font-family: Arial, sans-serif ! important;
    font-size:  16px !important;
}

nav > a {
    display: block !important;
    color: white !important;
    text-align: center !important;
    padding: 14px 16px !important;
    text-decoration: none !important;
    font-family: Arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: normal ! important;
    line-height:  normal !important;
    background-color: transparent !important;
}

nav > a:hover {
    background-color: #ddd !important;
    color: rgb(255, 0, 0) !important;
}


footer {
    padding: 10px !important;
    text-align: center !important;
    background-color: rgb(120, 96, 96) !important;
    color: #ffe6f2 !important;
    margin: 0 !important;
    width: 100% ! important;
    font-family:  Arial, sans-serif !important;
    font-size: 14px !important;
    line-height: 1.6 ! important;
    
}

footer p {
    margin: 5px 0 !important;
    font-size: 14px !important;
    font-family: Arial, sans-serif !important;
    color: #ffe6f2 !important;
}

footer a {
    color: #ffcccc !important;
    text-decoration: none !important;
    font-size: 14px !important;
    font-family: Arial, sans-serif !important;
}

footer a:hover {
    text-decoration: underline !important;
}

footer #credits{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;

}


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial !important;
    line-height: 1.5;
    cursor: url("../images/cursor.png"), auto;
}

a, button {
  cursor: pointer;
}


@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }
    nav > a {
        display: block;
        text-align: left;
        padding: 14px 16px !important;
        border-top: 1px solid rgba(255,255,255,0.05);
        font-size: 16px;
    }
}
